body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.quiz-box {
    background: white;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    cursor: pointer;
}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}

#progress {
    margin-bottom: 10px;
    font-weight: bold;
}